$kaldi-red: #FFEC24;
$kaldi-red-invert: #fff;

$primary: #FFEC24;
$primary-invert: $kaldi-red-invert;

$media-xs-down: "only screen and (max-width : 480px)";
$media-sm-down: "only screen and (max-width : 736px)";
$media-md-down: "only screen and (max-width : 980px)";
$media-lg-down: "only screen and (max-width : 1280px)";
$media-xl-down: "only screen and (max-width : 1690px)";
